<% layout('layouts/boilerplate') -%>

    <body>

        <div class="row mt-3">
            <div class="col-8 offset-2">
                <h3>Create New Listing</h3>
                <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">

                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" id="title" name="listing[title]" placeholder="Add a catchy title"
                            class="form-control" required>
                        <div class="valid-feedback">nice looks good!</div>
                        <div class="invalid-feedback">please enter title</div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea id="description" name="listing[description]" placeholder="Type here..."
                            class="form-control" required></textarea>
                        <div class="valid-feedback">nice looks good!</div>
                        <div class="invalid-feedback">please enter Description</div>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input type="text" id="price" name="listing[price]" placeholder="1500" class="form-control"
                            required>
                        <div class="valid-feedback">nice looks good!</div>
                        <div class="invalid-feedback">please enter price</div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-8">
                            <label for="location" class="form-label">Location</label>
                            <input type="text" id="location" name="listing[location]"
                                placeholder="Begumganj, Madhya Pradesh" class="form-control" required>
                            <div class="valid-feedback">nice looks good!</div>
                            <div class="invalid-feedback">please enter location</div>
                        </div>
                        <div class="mb-3 col-md-4">
                            <label for="country" class="form-label">country</label>
                            <input type="text" id="country" name="listing[country]" placeholder="India"
                                class="form-control" required>
                            <div class="valid-feedback">nice looks good!</div>
                            <div class="invalid-feedback">please enter country</div>
                        </div>
                    </div>
                    <!-- <div class="mb-3">
                        <label for="image" class="form-label">Image URL/Link</label>
                        <input type="text" id="image" name="listing[image][url]" placeholder="type here.."
                            class="form-control">
                    </div> -->
                    <div class="mb-3">
                        <label for="image" class="form-label">Upload Image </label>
                        <input type="file" id="image" name="listing[image]" 
                            class="form-control" required>
                    </div>

                    <button class="btn btn-dark add-btn mt-3 ">Add</button>

                </form>
            </div>
        </div>
    </body>